<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <%= simple_format(@post.message) %>


    <%= User.find(@post.user_id).name %>
   <p class="timestamppost"> <%= @post.created_at.strftime("posted on %m/%d/%Y at %I:%M%p")%></p>
   <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
   <% if pre_like %>
     <%= button_to  'ðŸ‘', post_like_path(@post, pre_like), method: :delete, class: "dislikebutton" %>
   <% else %>
     <%= button_to 'ðŸ‘', post_likes_path(@post), method: :post, class: "likebutton" %>
   <% end %>
   <% if @post.likes.count > 0 %>
     <p><%= @post.likes.count %> <%= 'ðŸ¦Ž' %></p>
   <% end %>
    <% if current_user.id == @post.user_id %>
    <%= button_to "Edit Post", edit_post_path(@post), method: :get, class: "postbuttons" %>
    <%= button_to "Delete Post", post_path(@post), method: :delete,
  data: {confirm: 'Are you sure?'}, class: "postbuttons" %>
    <% end %>
  </div>
</div>
<br>


<h3 class="commentBox">Comments</h3>
<% if @post.comments.length > 0 %>
<% @post.comments.each do |comment| %>
<div class="neonBox">
  <div class="alert alert-custom" role="alert">
    <%= User.find(comment.user_id).name %>
    <%= simple_format(comment.comment) %>
    <p class="timestamppost"><%= comment.created_at.strftime("commented on %m/%d/%Y at %I:%M%p")%></p>
    <% if current_user.id == comment.user_id %>
    <%= button_to "Edit Comment", edit_post_comment_path(@post, comment), class: "postbuttons", method: :get %>
    <%= button_to "Delete Comment", post_comment_path(@post, comment), method: :delete,
  data: {confirm: 'Are you sure?'}, class: "postbuttons" %>
    <% end %>
  </div>
</div>

<% end %>
<% end %>

<%= render partial: 'comments/form' %>